<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<p>"Choose option to administrate"</p>
<p>Press here <a href="/createRace">to create entity </a> </p>
</body>
</html>