<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{entity}} Created successful!</title>
    <style>
        body {
            background-image: url('backgroundRace.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
<h1 style="text-align: center">You created race : {{name}}!</h1>
</body>

</html>