<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Created successfully!</title>
</head>

<body>
<h1 style="text-align: center">You created faction : {{name}} with id {{id}}, belong to race {{#race}}{{name}}{{/race}} !</h1>
</body>

</html>