<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>

<body>
<h1 style="text-align: center"> {{exception}} </h1>
<h1 style="text-align: center"> {{url}} </h1>
<h1 style="text-align: center"> {{status}} </h1>
<h1 style="text-align: center"> {{status-code}} </h1>
</body>

</html>