<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Show factions</title>
</head>

<body>
{{#attributes}}
    <h1>{{id}}</h1>
    <h2>{{description}}</h2>
{{/attributes}}
</body>

</html>