<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Created successfully!</title>
</head>

<body>
{{#unit}}
    <h1 style="text-align: center">You have just created unit : {{name}} with {{id}} and next parameters: </h1>
    <h2>faction - {{faction}}</h2>
    <h2>faction - {{category}}</h2>
    <h2>faction - {{cost}}</h2>
    <h2>faction - {{upkeep}}</h2>
    <h2>faction - {{health}}</h2>
    <h2>faction - {{leadership}}</h2>
    <h2>faction - {{speed}}</h2>
    <h2>faction - {{meleeAttack}}</h2>
    <h2>faction - {{meleeDefence}}</h2>
    <h2>faction - {{chargeBonus}}</h2>
    <h2>faction - {{missileResistance}}</h2>
    <h2>faction - {{magicResistance}}</h2>
    <h2>faction - {{armorProtection}}</h2>
    <h2>faction - {{weaponType}}</h2>
    <h2>faction - {{weaponDamage}}</h2>
    <h2>faction - {{armourPiercingDamage}}</h2>
    <h2>faction - {{meleeInterval}}</h2>
    <h2>faction - {{magicalAttack}}</h2>
    <h2>faction - {{range}}</h2>
    <h2>faction - {{unitSize}}</h2>
    <h2>faction - {{turns}}</h2>
    {{#attributes}}
        <h2>attributes - {{description}}</h2>
    {{/attributes}}
{{/unit}}
</body>

</html>