<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Show factions</title>
</head>

<body>
{{#weapons}}
    <h1>{{id}}</h1>
    <h2>{{type}}</h2>
{{/weapons}}
</body>

</html>