<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myfirstwebapp</title>
</head>
<body>
    <p>"My application"</p>
    <p> <a href="/total-war-warhammer/user/getRaces">To get races </a> </p>
    <p> <a href="infoget">Get information about visitors</a> </p>
</body>
</html>