<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Total War Warhammer</title>
</head>
<body>
    <p>"Welcome"</p>
    <p>Press here <a href="/admin">to start administrate data base </a> </p>
    <p> <a href="infoget">Get information about visitors</a> </p>
</body>
</html>